<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>secondoryModels</key>
		<array>
			<dict>
				<key>title</key>
				<string>俄罗斯</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>中国</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>美国</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>新加坡</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>木材产地</string>
		<key>content</key>
		<string></string>
		<key>isOpen</key>
		<false/>
	</dict>
	<dict>
		<key>secondoryModels</key>
		<array>
			<dict>
				<key>title</key>
				<string>红松</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>绿松</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>白松</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>木材类别</string>
		<key>content</key>
		<string></string>
		<key>isOpen</key>
		<false/>
	</dict>
	<dict>
		<key>secondoryModels</key>
		<array>
			<dict>
				<key>title</key>
				<string>白杨</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>松树</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>木材树种</string>
		<key>content</key>
		<string></string>
		<key>isOpen</key>
		<false/>
	</dict>
	<dict>
		<key>secondoryModels</key>
		<array>
			<dict>
				<key>title</key>
				<string>俄罗斯</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>中国</string>
				<key>isSelected</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>美国</string>
				<key>isSelected</key>
				<false/>
			</dict>
		</array>
		<key>title</key>
		<string>交割地</string>
		<key>content</key>
		<string></string>
		<key>isOpen</key>
		<false/>
	</dict>
</array>
</plist>
